@import "variables.less";

.gadget-block-button {
	flex: none;
	background-color: @gadget-chrome-bg;
	padding: 0 6px;
	display: flex;
	.btn {
		display: block;
		flex: 1;
		margin: 6px 6px;
	}
}

.gadget-block-button-top {
	border-top: @gadget-border;
}

.gadget-block-button-bottom {
	border-bottom: @gadget-border;
}
